* {
  margin: 0;
  box-sizing: border-box;

  font-size: large;
}
.pop-up {
  background-color: lightblue;
  height: 400px;
  width: 400px;
  z-index: 500px;
  overflow-y: scroll;
}
.header {
  background-color: lightcoral;
  width: 100%;
  height: 20%;
  display: grid;
  grid-template-columns: 80% 20%;
}
.form {
  width: 100%;
  height: 100%;
  color: blanchedalmond;
}

.text-input {
  width: 100%;
  height: 100%;
}
.submit-button {
  width: 100%;
  height: 100%;
}
.return-gif {
  width: 100%;
  height: 100vh;
}
.radio {
  background-color: bublanchedalmon;
  width: 100%;
}
